@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;

}
header
 	{
        overflow: hidden;
 		background: #1c1d4f repeat;
        position: fixed;
        padding: 5em 0em;
        width: 100%;
        top: 0;

 	}

	#menu
    	{
    		position: absolute;
    		top: 0.5em;
    		right: 0;
    	}

    	#menu ul
    	{
    		display: inline-block;
    		font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    	}

    	#menu li
    	{
    		display: block;
    		float: left;

    		text-align: center;
    	}
    	li {
            font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
            font-size: 1.1em;
            font-weight: bold;
            line-height: 1.7em;
            color: #999;
        }

    	#menu li a, #menu li span
    	{
    		padding: 1em 1.5em;
    		letter-spacing: 0.10em;
    		text-decoration: none;
    		text-transform: uppercase;
    		font-weight: 600;

    		font-size: 0.90em !important;
    		color: #ebebf0;
    	}

    	#menu li:hover a, #menu li.active a, #menu li.active span
    	{
    	}

    	#menu .current_page_item a
    	{
    		background: #9798a1;
            border: 1px solid #1c1d4f;
            border-radius: 350px;
    	}
    	#menu .current_pge_item a
            	{
            		background: #F5C824;
                    border: 1px solid #1c1d4f;
                    border-radius: 150px;
                    color: #080601;
            	}

    	#menu .icon
    	{
    	}





